@charset "UTF-8";

* {
    padding: 0px;
    font-family: var(--font2);
    color: white
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap');

:root {
    --font1: 'Rubik', sans-serif;
    --font2: 'Roboto', sans-serif;
    --font3: 'Roboto Condensed', sans-serif;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(16, 12, 22);
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 3px solid rgb(16, 12, 22);
}

body {
    background-color: rgb(16, 12, 22);
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
    height: 60px;
    padding-top: 10px;
}

.logo {
    display: block;
    width: 60%;
}

.logo img {
    margin-left: 5%;
}

.home {
    display: block;
    width: 40%;
    height: 60px;
    text-align: right;
    padding-right: 60px;

}

.home>a>i {
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    padding: 10px;
    margin-top: 8px;

}

.home>a>i:hover {
    transition: 0.5s;
}

.killer-sobre>h1 {
    font-family: var(--font3);
    text-align: center;
    font-size: 2em;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.582);
}

.titulo{
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    
    text-shadow: 2px 2px 10px black;
}

.pagina {
    width: 90%;
    margin: auto;
}

.killer {
    display: flex;
    justify-content: center;
}

.killer > img {
    overflow: hidden;
}

.killer-sobre {
    background-image: linear-gradient(#aa1a18, #5c0c0b);
    background-color: #8d100e;
    width: 80%;
    margin: auto;
    margin-top: 35px;
    border-radius: 10px;
    padding: 1px 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.582);
}

.sobre {
    padding-top: 20px;
}

.sobre>p {
    font-family: var(--font2);
    text-align: center;
    text-indent: 20px;
}

span {
    color: orange;
    font-weight: bold;
}



section.dados {
    width: 83%;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(#74110f, #420403);


    display: flex;
    justify-content: center;
}

.dados>.div1 {
    width: 60%;
    padding-top: 40px;
}

.dados .div1 p {
    line-height: 10px;
    font-size: 0.9em;
}

section.dados div {
    margin: 10px;
}


section.dados>.div2 {
    width: 40%;
    text-align: center;
}

#abrir-popup:checked~#conteudo {
    display: block;
}

#fechar-popup:checked~#conteudo,
#fechar-popup:checked~#fechar-popup-btn {
    display: none;
}

#abrir-popup-btn {
    display: block;
    cursor: pointer;
}

#fechar-popup-btn {
    background-color: #000000c5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#conteudo {
    box-sizing: border-box;
    position: fixed;
    width: 80%;
    left: max(calc(50vw - 380px / 2), 4vw);
    top: calc(30vh - 80px);

    font-family: var(--font2);
    text-align: center;

    text-indent: 20px;

    padding: 22px;
    background-image: linear-gradient(#aa1a18, #460605);
    border-radius: 8px;
    box-shadow: 2px 2px 10px  #000000;
}


/*====================================================*/
section.perks {
    margin-top: 10px;

}

table {
    width: 80%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    background-image: linear-gradient(#420403, #74110f);
}

td {
    border: 1px solid rgb(0, 0, 0);
}

.td-img {
    width: 100px;
    padding: 10px;
}

.td-text {
    width: 275px;
    padding: 10px;
}

footer{
    text-align: center;
    margin: 30px;
    padding: 5px;
    font-size: 0.8em;
}

footer > p  {
    font-family: monospace;
}

footer a {
    font-family: monospace;
}

footer a:hover{
    color: #b12523;
}