@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--font1);
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap');

:root{

    --font1: 'Rubik', sans-serif;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(16, 12, 22);
}

*::-webkit-scrollbar-thumb {
    background-color: #616161;
    border-radius: 10px;
    border: 3px solid rgb(16, 12, 22);
}


body{
    background-color: rgb(16, 12, 22);
}

header{
    background-color: yellow;
    padding: 10px;
    margin-bottom: 20px;
}
header > img{
    width: 30%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #44382f85;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    padding: 20px 0px;
    flex-wrap: wrap;
    z-index: 1;
    gap: 18px;
}

.card {
    display: inline-block;
    width: 150px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
}

.card img{
    width: 150px;
    height: 171px;
}


.texto > h2, p{
    color: white;
    font-family: var(--font1);
    font-size: 1em;
}

div.texto>a {
    background-color: white;
    border-radius: 15px;
    padding: 8px;
}

footer{

    text-align: center;
    margin-top: 30px;
    padding: 5px;
    font-size: 0.8em;
}

footer > p  {
    font-family: monospace;
}

footer a {
    font-family: monospace;
}

footer a:hover{
    color: #b12523;
}